<%- include header %>
  <div style="background:#29A3CC ;text-align:center;color:white;padding:1px 0px 0px 0px">
    <h1 style="padding-top:40px;font-size:48px">VotePlex</h1>
    <span id="subtitle" style="font-size:16px;">
      Create custom polls with live results.</span>
    <br/>
    <button type="button" class="btn btn-success btn-lg margin" id="signup-btn" onclick="location.href='/signup'">Sign Up</button>
  </div>
  <div id="page-bottom">
    <div class="row" style="text-align:center;padding-bottom:60px;padding-top:20px">
      <div class="col-xs-4">
        <i class="fa fa-flash fa-5x" style="color:GoldenRod"></i>
        <h2>Live Results</h2> Live graphs show your poll results immediately in an easy to understand format. One graph will not provide the whole picture, that's why we provide multiple graph types to better describe your results.
      </div>
      <div class="col-xs-4">
        <i class="fa fa-globe fa-5x" style="color:ForestGreen"></i>
        <h2> Works Everywhere</h2> Traditional desktop computers now represent only 30% of Internet traffic. Your poll must work on the tablets, smart phones, netbooks and notebooks that your visitors are using. Our responsive designs do just that.
      </div>
      <div class="col-xs-4">
        <i class="fa fa-github-alt fa-5x" style="color:#29A3CC "></i>
        <h2>Social Integration</h2> Free integrated facebook or traditional comments allow your poll voters to provide immediate feedback and discuss results. Social share buttons encourage your poll voters to help spread the word.
      </div>
    </div>
<%- include footer %>

