<%-include header %>
  <div style="background:#29A3CC ;text-align:center;color:white;padding:1px 0px 40px 0px">
    <h1 style="padding-top:40px;font-size:48px">VotePlex</h1>
    <span id="subtitle" style="font-size:16px;">
      Create custom polls with live results.</span>
    <br/>
  </div>
  <div id="login-form" style="padding:20px;">
  <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/login" method="post">
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
  </div>
    <button type="submit" class="btn btn-success" style="width:200px">Login</button>
<!--
    <button type="button"  onclick="javascript:location.href='/auth/twitter'" class="btn btn-primary" style="width:200px"><i class="fa fa-twitter "></i>Connect with Twitter</button>
-->
    </form>
  </div>
</div>
<%-include footer %>
<script>
$("#login").addClass("bg-lightgray");
</script>
