<!DOCTYPE html>
<html ng-app="newPoll" >
  <head>
    <meta charset="UTF-8">
    <title>Perrot Voting App | </title>
    
    
    
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>
<div>
  <div class="row banner">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-1 padding" style="font-weight:bold">
      <a href="/">VotePlex</a>
    </div>
    <div class="col-xs-1 padding center btn-width bg-lightgray" id="home">
      <a href="/">Home</a>
    </div>
    <div class="col-xs-6">
    </div>
    <div class="col-xs-2 padding center btn-width" id="signup">
       <% if (user.local.email) { %>
      Hello <%= user.local.name%>
         <% } %>
    </div>
    <div class="col-xs-1 padding center" id="login">
      <a href="/settings" style="display:block"><i class="fa fa-gear"></i></a>
    </div>
    <div class="col-xs-1 padding center btn-width" id="login">
      <a href="/logout">Logout</a>
    </div>
  </div>
  <div style="background:#29A3CC ;text-align:center;color:white;padding:1px 0px 40px 0px">
    <h1 style="padding-top:40px;font-size:48px">Dashboard</h1>
    <span id="subtitle" style="font-size:16px;">
      What would you like to do today?</span><br/><br/>
    <button class="btn btn-success" onclick="window.location.href='/profile'">New Poll</button>
    <button class="btn btn-primary">My Polls</button>
  </div>
<% if(showform) { %>
  <div id="signup-form" class="center" style="padding:20px;">
     <span id="subtitle" style="font-size:24px;">
      New Poll</span><br/>
<form name="newpollForm" ng-controller="NewPollController as newpollCtrl">
  <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="poll in polls">
                    <label>
                        <input type="checkbox" ng-click=""> {{ poll.name }}
                    </label>
                </div>

            </div>
        </div>
    <!--<form action="/profile" method="post">-->
    <span id="subtitle" style="font-size:12px;font-weight:bold">
      Name your poll.</span>
    <input type="text" class="form-control"  ng-model="newpollCtrl.poll.name" id="inputName" name="pollname" placeholder="What is your favorite brand?" style="width:40%;margin:auto" required><br/>
  <span id="subtitle" style="font-size:12px;font-weight:bold">
      Options</span>
    <div id="optionList">
    <input type="text" name="option1" class="form-control"   id="exampleInputEmail1" placeholder="Coke" name="Coke" style="width:40%;margin:auto" required>
  
    <input type="text"  name="option2" class="form-control"   id="exampleInputEmail1" placeholder="Pepsi" name="Coke" style="width:40%;margin:auto" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-default" style="width:200px" onclick="addOption()">More Options</button><br/><br/>
    <button type="submit" class="btn btn-success" ng-click="newpollCtrl.addPoll()" style="width:200px">Submit</button>
</form>
<% } else { %>
  <div id="signup-form" class="center" style="padding:20px;">
     <span id="subtitle" style="font-size:24px;">
      Congratulations!</span><br/>
    <span id="subtitle" style="font-size:12px;font-weight:bold">
      Your poll has been posted to</span><br/>
<a href='http://<%= host %>/<%= user.local.name %>/<%= pollname %>'>http://<%= host %>/<%= user.local.name %>/<%= pollname %></a>
<% } %>
   <!-- disabled --> 
  </div>
  <div id="login-form" style="padding:20px;display:none">
    <form action="/login" method="post">
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
    <button type="submit" class="btn btn-success" style="width:200px">Login</button>
    <button type="submit" class="btn btn-primary" style="width:200px"><i class="fa fa-twitter "></i>Connect with Twitter</button>
    </form>
  </div>
</div>
    <hr/>
    <div class="center">
      FreeCodeCamp Basejump | <a href="https://twitter.com/zoga9">@perrot</a>
    </div>
  </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
